<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="shortcut icon"  href="/imagen/paso3.png">
	<title>PROVEEDOR</title>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="javaScript/alertifyjs/css/themes/default.css">
<link rel="stylesheet" type="text/css" href="javaScript/alertifyjs/css/alertify.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="javaScript/jquery-3.2.1.min.js"></script>
<script src="javaScript/alertifyjs/alertify.js"></script>	
<link rel="stylesheet" type="text/css" href="/css/style_index.css">
<style type="text/css">
	/*#tarjeta1,#tarjeta2{
display: inline-block;
	}
	#tar{
		display: flex;
	}
	#navbarSupportedContent{
		justify-content: center;
		text-align: center;
		float: right;
		margin-left: 100px;
	}
	#myTab{
		margin-right: 100px;
	}
	#buscar{
		float: right;
		text-align: right;
		align-content: right;
		right: 0px;
	}*/

</style>
</head>
<body align="center">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ECOMMERCE SA |</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestión Financiera</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#">PERFIL</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">CERRAR SESIÓN</a>
      </li>
    </ul>
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCrearProducto">Agregar Producto</button>-->
        <a class="btn btn-primary" data-toggle="modal" data-target="#ModalCrearProducto" href="#">Agregar Producto</a>
      </li>
      <li class="nav-item">
        <!--<button type="button" class="btn btn-info">Agregar Categoría</button>-->
        <a class="btn btn-info" data-toggle="modal" data-target="#ModalCrearCategoria" href="#">Agregar Categoría</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
       
       <li class="nav-item">
          <select id="selCategoria" class="form-control">
            <option selected>Elija una categoría...</option>
            <option>...</option>
          </select>
       </li>
       <li class="nav-item">
          <button type="button" class="btn btn-success">Filtrar</button>
       </li>
     </ul>
     </form>
  </div>
</nav>

<div class="container" align="center">
  <div class="row">
    <div class="col-md">
      <h1>Bienvenido @Cliente</h1>
      <p class="lead text-muted">
          Revisa tus artículos disponibles para la venta...
      </p>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio de Venta</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Empty</td>
            <td>Q.0.00</td>
            <td>0</td>
            <td>Emtpy</td>
            <td>
                <button type="button" class="btn btn-dark">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
              <button type="button" class="btn btn-danger">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<!--**********************************************************************MODAL CREAR PRODUCTO***********************************************-->
<div class="modal fade" id="ModalCrearProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Nombre de Producto</h6>
          <div class="input-group mb-3">
  
    <div class="input-group-prepend">
      
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
    </div>
    <input type="text" class="form-control" id="nombreProducto" placeholder="Nombre del producto..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <h6>Descripción de Producto</h6>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-newspaper-o"></i></span>
    </div>
    <input type="text" class="form-control" id="descripcionProducto" placeholder="Describe brevemente el producto..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <h6>Precio</h6>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      
      <span class="input-group-text"  id="basic-addon1"><i class="fa fa-money"></i></span>
    </div>
    <input type="number" id="precioProducto" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <h6>Cantidad</h6>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      
      <span class="input-group-text"  id="basic-addon1"><i class="fa fa-bar-chart"></i></span>
    </div>
    <input type="text" id="cantidadProducto" class="form-control" placeholder="1" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <h6>Imagen de Producto</h6>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
      
          <span class="input-group-text"  id="basic-addon1"><i class="fa fa-picture-o"></i></span>
        </div>
      <div class="custom-file" align="left">
          <input type="file" class="custom-file-input" id="imagenProducto" required>
          <label class="custom-file-label" for="validatedCustomFile">Elija imagen...</label>
          <div class="invalid-feedback">Error en archivo seleccionado...</div>
        </div>
    </div>
   
        <div id="boton" class="modal-footer text-left">
          
          <input type="submit" value="Agregar" id="agregarProducto" class="btn btn-primary" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--**********************************************************************MODAL CREAR CATEGORIA***********************************************-->
<div class="modal fade" id="ModalCrearCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Categoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Nombre de Categoría</h6>
          <div class="input-group mb-3">
  
    <div class="input-group-prepend">
      
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
    </div>
    <input type="text" class="form-control" id="nombreCategoria" placeholder="Nombre de la categoría..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <h6>Descripción de Categoría</h6>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-newspaper-o"></i></span>
    </div>
    <input type="text" class="form-control" id="descripcionCategoria" placeholder="Describe brevemente la categoría..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
        <div id="boton" class="modal-footer text-left">
          
          <input type="submit" value="Agregar" id="agregarCategoria" class="btn btn-info" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--*********************************************************************FOOTER********************************************************-->
<footer class = "page-footer" style="margin-top: 3.4%;">
    <div id="cont"  class = "container col-12">
      <div class="row">
       <div  class="col-sm-12 text-center">
       </div>
       <div class="col-sm-4 text-center">
        <img id="img_footer" src="/imagen/paso1.png">
       </div>
       <div class="col-sm-4 text-center">
         <img id="img_footer" src="/imagen/paso2.png">
         
       </div>
       <div class="col-sm-4 text-center">
         <img id="img_footer" src="/imagen/paso3.png">
        </p>
       </div>
     </div>
    </div>
</footer>
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
     E-commerce SA  
  </div>
  <!-- Copyright -->

</footer>
 

 <script src="js/indexjs.js"></script>
</body>
</html>